.title {
	text-align: center;
	line-height: 25px;
	height: 25px;
}

.content {
	text-align: center;
	margin: 0 50px 0 50px;
	width: auto;
	height: auto;
}
.content img {
	display: block;
	margin: 0 auto;
	width: 800px;
	height: auto;
}
