.title {
	text-align: center;
	line-height: 25px;
	height: 25px;
}

.content {
	text-align: center;
	margin: 0 auto;
	width: 800px;
	height: auto;
}

.lazy {
	display: block;
	width: 800px;
	height: auto;
	margin: 10px 0;
}
