body{
    background-color: #F4F4F4;
    font-family: "微软雅黑";
}
.main{
    width: 700px;
    height: 360px;
    margin: 100px auto;
}
.main .title{
    font-size: 24px;
    text-align: center;
}

.main .content{
    width: 800px;
    height: auto;
    magin: 0 auto;
    padding-top: 5px;
}

.main .img{
    margin: 10px;
    position: relative;
}

.loading{
    width: 200px;
    height: 120px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background: #f9f9f9 url("../images/loading24.gif") no-repeat center center;
}